body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.top-container {

    background-color: #B9E9FC;
    position: relative;


}

.middle-container {
    background-color: #F7DB6A;
    padding: 100px;
}

#bottom-cloud {
    position: absolute;
}

#top-cloud {
    position: absolute;
    right: 300px;
    margin-top: 40px;

}

h1 {
    margin: 0;
    color: #66BFBF;
    display: inline-block;
    font-family: 'Sacramento', cursive;
    margin-top: 100px;
    font-size: 5.625rem;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

#mountain {
    /*position: fixed;*/
}

#p1 {
    /*display: inline-block;*/
    font-size: 1.5rem;
    margin: 0;
}

.skill-row {

    width: 50%;
    margin: 100px auto 10% auto;
    text-align: left;
    line-height: 2;


}

.mg1 {
    width: 25%;
    float: left;
    margin-right: 20px;
}

.mg2 {
    width: 25%;
    float: right;
    margin-left: 20px;
}

.profile {
    margin: 50px;
}

/*p3 {
    clear: right;
}

/*#p2 {
    clear: left;
}*/
.bottom-container {
    background-color: #EA5455;
    padding-bottom: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

hr {
    width: 20%;

    border-style: none;
    border-top-style: dotted;
    border-color: #f7976a;
    border-width: 10px;


}