body {
    background-color: rgb(218, 148, 37);
}

hr {

    border-color: rgb(244, 162, 22);
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-width: 10px;

}

a {

    color: rgb(13, 8, 1);
}

h1 {
    color: rgb(10, 18, 3);
    text-shadow: darkgreen;
    -ms-touch-action: double-tap-zoom;
}

h3 {
    color: rgb(13, 1, 1);
}

p {
    color: rgb(15, 2, 2);
}

table {
    border-spacing: 1cm;
}